*~
sbs
*.gem
/.idea
**/.idea
**/*.iml
*.swp
*.vagrant*
*.retry
*.vdi
*.box
*.jar
packer_cache
ansible-vault.pass
.terraform/
.terraform.tfstate.lock
.terraform.lock.hcl
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.pyc
pytestdebug.log
.vscode/*
.groovylintrc.json